<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <title th:utext="#{label.badUser.title}">bad user</title>
</head>
<body>
<div class="container">
    <h1 class="alert alert-danger" th:utext="${message}">error</h1>
    <br/>
    <a class="btn btn-default" th:href="@{/user/registration}" th:utext="#{label.form.loginSignUp}">signup</a>

    <div th:if="${expired}">
        <br/>
        <a th:href="@{'http://localhost:8080/user/resendRegistrationToken?token='+${token}}"
           th:utext="#{label.form.resendRegistrationToken}">resend</a>
    </div>

</div>
</body>
</html>