<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title th:utext="#{message.resetPassword}">reset</title>
    <style type="text/css">
        .wrapper{width:500px;margin-left:auto;margin-right:auto}
        label{padding-left:0 !important}

    </style>
</head>
<body>
<div th:if="${error!=null}" class="alert alert-danger" th:utext="${error}">error</div>
<div class="container">
    <div class="row wrapper">
        <h1 th:utext="#{message.changePassword}">Change Password</h1>
        <br/>
        <form method="post">
            <input class="form-control input-lg" id="password" name="password" type="password" required="required"
                   value="" th:placeholder="#{label.user.password}"/>
            <br/>
            <input class="form-control input-lg" id="matchingPassword" name="matchingPassword" type="password" required="required"
                   value="" th:placeholder="#{label.user.confirmPass}"/>
            <br/>
            <p style="text-align: right">
                <a class="btn btn-default btn-lg" name="login" th:text="#{label.form.login}"
                   style="width: 150px"  th:href="@{/login}">Log In</a>
                <input class="btn btn-primary btn-lg" type="submit" th:value="#{label.form.submit}"
                       style="width: 150px"/>
            </p>
        </form>
    </div>
</div>


</body>

</html>